body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0 20px;
    color: #041357
}

h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #70f107
  }