<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset = "UTF-8">
    <title>Exploring Dog Facts</title>
    <link rel = "stylesheet" href = "{{url_for('static',filename = 'styles.css')}}">
</head>
<body>
    <h1>Exploring Dog Facts</h1>
    <form action = "{{url_for('search')}}"  method="get">

        <input type = "text" name = "breed">
        <button type = "submit">Search by Breed</button>
    </form>
    <a href="{{ url_for('multiple_facts', number=5) }}">Get 5 Dog Facts</a>
    <a href="{{ url_for('generate_image') }}">Generate Image</a>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
