<!DOCTYPE html>
<html lang = "en">
<head>
    <link rel = "stylesheet" href = "{{url_for('static',filename = 'styles.css')}}">
    <meta charset = "UTF-8">
    <title>Exploring Dog Facts</title>
</head>
</body>
    <h1>Exploring Dog Facts</h1>
    <form action = "{{url_for('search')}}"

        <input type = "text" name = "breed"
        <button type = "submit">Search by Breed</button>
    </form>
    <p><a href = "{{url_for('multiple_facts', number = 5)}}">Get 5 Dog Facts</a></p>
    <hr>
    {% block content %}{% endblock %}
</body>
</html>
